<div class="about container mt-5">
    <h1>About Me</h1>
    <p> My interest in stories and technology began at a young age. 
        I was drawn to espionage and crime media, specially the kind blended with comedy or romance. 
        This sparked my curiosity about how characters are empowered through their skills in technology.
        And then, I discovered video games during the pandemic.
        That experience opened up the digital world for me even more.
        The combination of these interests gradually led me toward the field of computer science,
        where I found both the creative and logic-driven adventure I had been searching for.

        <br><br>

        In my work, I value attention to detail, creativity, and the ability to bring ideas to life through collaboration.
        I especially enjoy research-oriented projects where I can dig deep, analyze,
        and refine solutions while also finding space for innovation.
        I am motivated by the idea of building connections and creating a sense of community
        with people who share the same passion for learning and exploration.

        <br><br>

        While I am still exploring which career path to take,
        I see this uncertainty as an opportunity to remain curious and open-minded.
        My current focus is on gaining experiences that challenge me to grow and prepare me for a future
        where I can contribute meaningfully.
    </p>
      
    <h2>Education</h2>
    <p> Bachelor of Science in Computer Science — University of Baguio (August 2023 - Present) <br>
        Bachelor of Science in Astronomy — Rizal Technological University (August 2021 - June 2022)
    </p>
    
    <h2>Interests</h2>
    <p> Beyond academics and technical work,
        I enjoy spending my free time on activities that let me relax and connect with others.
        I love playing sandbox and co-op games with friends and family.
        I also enjoy thrift shopping, where I can discover unique finds,
        as well as reading novels that keep me hooked with suspense and strategy.
        Going to the sea every once in a while also helps me recharge.
        I simply enjoy exploring new things with the people closest to me,
        whether that be trying a new activity, place, or idea together.
    </p>
</div>
      