<div class="contact container mt-5">
    <h1>Don't Hesitate to Reach Out</h1>
    <p>Let’s connect! If you have any questions, ideas for collaboration, or just want to say hi, shoot me a message!</p>

    <div class="contact-info mt-4">
        <p><strong>Email: </strong> <a href="mailto:zoe.noefe@gmail.com">zoe.noefe&#64;gmail.com</a></p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/judahzoe/">Zoe Noefe</a></p>
        <p><strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/judah-zoe-athaliah-noefe-9a17bb24a/" target="_blank">Judah Zoe Athaliah Noefe</a></p>
    </div>
      
    <form class="mt-4">
        <div class="form-group">
            <input type="text" class="form-control mb-2" placeholder="Your Name" required>
            <input type="email" class="form-control mb-2" placeholder="Your Email" required>
            <textarea class="form-control mb-2" rows="4" placeholder="Your Message" required></textarea>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</div>
      