<div class="home text-center">
    <section class="hero">
        <h1>Hi, I’m <span class="highlight">Judah Zoe Athaliah Noefe!</span></h1>
        <p class="tagline">
        I am a Computer Science student from the University of Baguio, eager to create and contribute to meaningful projects.
        </p>
    </section>

    <section class="skills container mt-4">
        <p class="lead">
            My technical skills include basic coding in <b>Java</b>, <b>Python</b>, <b>HTML</b>, and <b>SQL</b>, 
            as well as <b>video editing</b> and <b>basic graphic design</b>.  
            I also have experience in <b>document proofreading & editing</b>, and 
            <b>research & data validation</b>.
        </p>
    </section>

    <section class="button-group mt-4">
        <button class="btn custom-btn" routerLink="/about">Learn More About Me</button>
        <button class="btn custom-btn" routerLink="/contact">Contact Me</button>
    </section>


</div>
      